.header{right: 5px;left: 5px;top: 5px; height: 100px;}
.mainbody{right: 5px;left: 5px;top: 115px;bottom: 65px;}
.footer{right: 5px;left: 5px;}
.answer{font-size: 50px;}
.nav{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: 50px;}